* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;
}

body {
    background-color: #101010;
    color: #fff;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 25px 15%;
    transition-duration: .3s;
}

.logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;

}

span {
    color: #F9629F;
}

.navbar {
    display: flex;
}

.navbar li {
    position: relative;
}

.navbar a {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 20px;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #F9629F;
    left: 0;
    bottom: -4px;
    transition: ease .40s;
}

.navbar a:hover::after {
    width: 100%;
}

#menu-icon {
    font-size: 32px;
    color: white;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.h-btn {
    padding: 0 20px;
    height: 40px;
    display: inline-block;
    line-height: 42px;
    background: #F9629F;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all .30s;
}

.h-btn:hover {
    transform: translateY(-5px);
}

section {
    padding: 120px 15%;
}

.home {
    height: 100vh;
    width: 100%;
    background: url(/images/header.JPG);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.home-text h1 {
    margin: 20px 0px 20px;
    font-size: 100px;
}

.home-text h3 {
    margin: 55px;
    font-size: 50px;
}

.home-text h4 {
    color: #F9629F;
    font-size: 30px;
    letter-spacing: 2px;
}

.newslatter form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child {
    display: inline-block;
    width: 100%;
    outline: none;
    padding: 16px 140px 16px 15px;
    border: 2px solid #F9629F;
    border-radius: 30px;
}

.newslatter form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    background: #F9629F;
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    cursor: pointer;
    top: 6px;
    right: 6px;
}

header.sticky {
    padding: 12px 15%;
    background: #F9629F;
}

.sticky .navbar a::after {
    background: white;
}

.sticky .h-btn {
    background: white;
    color: #000;
}

.about {
    background: #101010;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 2rem;
}

.about-img  img {
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.about-text h2 {
    font-size: 60px;
    margin-bottom: 20px;
}

.about-text h5 {
    font-size: 25px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.about-text p {
    letter-spacing: 1px;
    line-height: 28px;
    max-width: 590px;
    margin-bottom: 45px;
}

.portfolio {
    background: #191919;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.5rem;
    cursor: pointer;
}

.box img {
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all .30s;
}

.box p {
    color: #F9629F;
    font-size: 15px;
    margin-bottom: 15px;
}

.box h5 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.box img:hover {
    transform: scale(1.1);
}

.contact {
    background: #101010;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    grid-gap: 3rem;
}

.contact-form h2 {
    font-size: 50px;
    margin-bottom: 15px;
}

.contact-form p {
    color: #F9629F;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 4.1rem;
}

.contact-form form {
    position: relative;

}

.contact-form form input, form textarea {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: #191919;
    color: white;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
}